// variables
$white: #fff;
// global
* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  color: $white;
}
.wrapper {
  position: fixed;
  margin-bottom: 2em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}
// components
.app {
  margin: 0 auto;
  padding: 4em 12px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-name {
  text-align: center;
  margin: 1.5em 0;
  font-size: 3em;
  text-transform: capitalize;
  font-weight: bold;
}
label {
  margin-bottom: 0.8em;
  text-transform: lowercase;
}
.input-country-name,
.btn {
  padding: 1em 2em;
  border: 2px solid $white;
  border-radius: 10px;
  background: rgba(0,0,0,0.7);
  color: $white;
  margin-bottom: 1.5em;
  cursor: pointer;
  text-transform: lowercase;
}

.list-heading {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid $white;
}
.countries {
  width: 80%;
  margin-top: 45vh;
  padding: 12px;
  list-style: none;
}
li {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border: 2px solid $white;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}
.card {
  .card-heading {
    font-size: 1.2em;

  }
  span {
    font-weight: bold;
  }
}